@import "./resets";
@import "./variables";
@import "./fonts";
@import "./mixins";

body {
    min-height: 100vh;
    flex-direction: column;
    @include flexCenter();
    color: $prim-white;
    background: linear-gradient(to right, $prim-blue, $prim-purple);
    font-family: 'Poppins', sans-serif;
    
    
    main {
        max-height: auto;
        max-width: fit-content;
        min-width: 600px;
        background-color: rgb(33, 62, 99);
        margin: 2rem;
        padding: 2rem 2rem 2rem;
        border-radius: .75rem;
        flex-direction: column;
        @include flexCenter();
        
        
        h1 {
            margin-top: 1rem;
            margin-bottom: 2rem;
            text-align: center;
        }


        input, button, select {
            appearance: none;
            outline: none;
            border: none;
            background: none;
        }

        
        form {
            @include flexCenter();
            flex-direction: row;
            flex-wrap: wrap;
            margin-top: 1.5rem;
            min-width: 100%;
        
            & > input {
                font-size: 1.1rem;
                margin: 0 1rem;
                margin-left: 0;
                background-color: $prim-darker;
                border-radius: .5rem;
                padding: .5rem;
                width: 60%;
                color: $prim-white;
            }
        
            & button[type="submit"] {
                font-size: 2rem;
                font-weight: 900;
                width: 50px;
                height: 50%;
                cursor: pointer;
                border: 3px solid $prim-purple;
                background-color: $prim-darker;
                color: $prim-blue;
                border-radius: 100%;
                transition: .2s all ease-in-out;

                &:hover {
                    border-color: $prim-darker;
                    background-color: $prim-blue;
                    color: $prim-darker;
                }
            }


            & #select-opt {
                cursor: pointer;
                color: $prim-darker;
                background: $prim-purple;

                width: -moz-fit-content;
                width: fit-content;
                height: fit-content;
                padding: .8rem;
                margin-left: .5rem;
                border-radius: 2rem;
                text-align: center;
                font-size: .8rem;
                font-weight: 900;

                * {
                    padding: auto;
                    margin: auto;
                    font-family: "Poppins", sans-serif;
                    font-size: .8rem; 
                    background-color: $prim-blue;
                    color: $prim-white;
                    cursor: pointer;
                }
            }

        }


        div#placeholder {
            @include flexCenter();
            flex-direction: column;
            width: 60%;
            text-align: center;
            margin: 2rem auto;
            display: none;
            
            img {
                height: 100px;
                width: 100px;
            }
        
            h2 {
                color: #ffffff6b;
                margin-top: 1.7rem;
                font-size: 1rem;
            }
        }

    }
}



main #todo-list {
    @include flexCenter();
    flex-direction: column;
    margin-top: 1.5rem;
    max-width: 100%;
    

    .todo-item {
        font-size: 1.1rem;
        margin-top: 1rem;
        background-color: $prim-darker;
        border-radius: .5rem;
        padding: .5rem;
        color: $prim-white;
        max-width: 100%;
        flex-direction: row;
        @include flexCenter();
        

        .todo-content {
            @include flexCenter();
            flex-direction: row;
            background-color: $prim-darker;
        
            &,
            input[type="text"] {
                font-size: 1rem;
                border-radius: .5rem;
                padding: .5rem;
                color: $prim-white;
            }
            
            input[type="text"] {
                margin-left: 0;
                background-color: $prim-dark; 
            }
        
            
            input[type="checkbox"] {  
                width: 1.5rem;
                height: 1.5rem;
                margin-right: .5rem;
                border: .2rem solid $prim-dark;
                border-radius: .5rem;
                cursor: pointer;
            
            
                &:checked {
                    color: $checked;
                }
                
                &:not(:checked):before,
                &:checked::after {
                    content: "\2714";
                    font-size: 1.2rem;
                    position: relative;
                    bottom: .38rem;
                    left: .1rem;
                }
            
                &:not(:checked):before {
                    color: transparent;
                }
                
            }
        }



        .actions {
            margin: 0 .5rem 0 1rem;
            display: grid;
            grid-template-columns: auto auto;
            grid-gap: .5rem;


            button {
                font-size: 1rem;
                font-weight: 900;
                cursor: pointer;
                background: linear-gradient(to right, $prim-blue, $prim-purple);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}

.completed {
    opacity: .7;
    background: $prim-blue !important;

    .todo-content {
        background-color: $prim-blue !important;

        .todo-input {
            text-decoration: line-through;
        }

        input[type="checkbox"] {   
            background-color: $prim-darker;      
        }
    }

    .actions button {
        background-color: $prim-darker !important;
        background-image: none !important;
    }
}


@media (max-width: 678px) {
    body {
        main {
            min-width: 100%;
            padding: 2rem 2rem 2rem;
            margin: 0;
            border-radius: 0;
        }
    }
}

@media (max-width: 520px) {
    body {
        main {
            margin: 0;
            padding: 0;

            #todo-list {
                width: fit-content;
                flex-direction: column;
                padding-left: 0;
                padding-right: 0;
                margin-bottom: 2rem;

                .todo-item {
                    border-radius: 0;
                    .todo-content {
                        padding: 0;
                        margin: 0;
                        min-width: 100%;
                        
                        input[type="text"] {
                            width: 90%;
                            background-color: $prim-dark;
                        }
                    }
                }
            }
        }
    }
}